APP_NAME="mensajasser"
# Probably "production" or "development"
RAILS_ENVIRONMENT="production"

# The URL which is used for let's encrypt
VHOST_URL="jasserdev.mullzk.ch"
# The Port of the App on the server. Not sure yet wether it must be 
# 3000 as defined in Dockerfile or unique on the server.
VHOST_PORT="3000"
ADMIN_EMAIL="mail@example"

POSTGRES_PASSWORD="a very good password, but not this one"
POSTGRES_USER="mensajasser"
# If you have multiple environments on the same server,
# be sure to use different DBs. 
POSTGRES_DB="mensajasser_development"
# Differntiate Postgres-Installs on Ports as well
POSTGRES_PORT="5432"
