<h1>Die Berseker und Schädlinge des Jahres <br />
	<% for delta in [-2, -1, 0, 1, 2]%>
		<span class="headlinks headlinks-hierarchy-<%=delta.abs%>">
			<% if delta == 0 -%>
				<%=@date.year %>
			<% else -%>
				<%= link_to @date.year + delta, :action => "berseker", :date => @date.year + delta %>
			<% end -%>
		</span>
	
	<% end %>
</h1>
<%= render 'user_ranking_table' %>

<ul>
	<li>Gegner-Schnitt: Schnitt der Gegner in allen Tableaus mit dem jeweiligen Jasser.</li>
	<li>Schaedling: Gegnerischer Schnitt geteilt durch Eigener Schnitt. </li>
</ul>