<h1>Jasser des Jahres 
	<% for delta in [-2, -1, 0, 1, 2]%>
		<span class="headlinks headlinks-hierarchy-<%=delta.abs%>">
			<% if delta == 0 -%>
				<%=@date.year %>
			<% else -%>
				<%= link_to @date.year + delta, :action => "year", :date => @date.year + delta %>
			<% end -%>
		</span>
	
	<% end %>
</h1>
<%= render 'user_ranking_table' %>
