<h1>Jasser des Jahres 
	<% for delta in [-2, -1, 0, 1, 2]%>
		<span class="headlinks headlinks-hierarchy-<%=delta.abs%>">
			<% if delta == 0 -%>
				<%=@date.year %>
			<% else -%>
				<%= link_to @date.year + delta, :action => "year", :date => @date.year + delta %>
			<% end -%>
		</span>
	
	<% end %>
</h1>
<%= render 'user_ranking_table' %>

<h4 style="margin-top:2em;">Coronoa-Update</h4>
Um online zu jassen, brauchen wir drei Dinge: 
<ul>
	<li><a href="https://www.differenzler.ch" target="_blank">differenzler.ch</a> zum Jassen</li>
	<li><a href="https://docs.google.com/spreadsheets/d/1m-6-4jvOI3ol0OqERxRzfSvGKT-MJK52wfkkN2zZaMk/edit?usp=sharing"  target="_blank">Google Sheet</a> um aufzuschreiben / Ansage live zu verfolgen (Der Schreiber muss bei Google einloggen und eine Kopie erstellen)</li>
	<li><a href="https://meet.jit.si/Mensajasser"  target="_blank">meet.jit.si</a> um einander zu hören und zu sehen</li>
</ul>
