/* Style from the old project, should all get purged. Not necessary for ranking-tables */

.tableau th div{
	writing-mode:tb-rl;
}
.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}
tr.list-line-odd {
	background-color:#AdA;
}
tr.list-line-even {
	background-color:white;
}
.currency {
	text-align:right;
}

tr.new_entry_row {
	background-color: #D8D8D8;
	border-top: black thin dotted;
}

th {
	text-align: left;
}
table.simple, table.simple tr, table.simple td, table.simple th {
	border: black thin solid;
	border-collapse: collapse;
	padding: 2px;
	vertical-align: top;
}
table.simple tr.total, table.simple tr.total td {
	border-bottom:black thick solid;
	border-top:black 3px double;
	font-weight:bold;
}
table a {
	color:black;
}
table.decent a {
	color:black;
	text-decoration:none;
}
table.decent a:before { 
	content: ">"; 
}
.number {
	text-align:right;
}

tr.space_above_and_beyond td {
	padding-top:10px;
	padding-bottom:10px;
}


